.main {
    width: 1000px;
    margin: auto;
}

.search {
    width: 300px;
    height: 50px;
    float: left;
}

.form {
    width: 1000px;
    height: 50px;
}

.title {
    height: 40px;
    color: red;
    font-size: 16px;
    margin-top: 10px;
    float: left;
    line-height: 40px;
}

.select {
    width: 120px;
    height: 50px;
    float: right;
    margin: auto;
    line-height: 50px;
}

.option {
    width: 120px;
    margin-top: 12px;
}

.form-select {
    float: right;
}

.form-status {
    float: left;
    width: 180px;
}

.form-priority {
    float: left; 
    width: 185px; 
    margin-left: 40px;
}

.table-issue {
    width: 1000px;
    height: 30px;
    line-height: 30px;
    float: none;
}

.table-title {
    margin-top: 20px;
    margin-bottom: 10px;
    size: 18px;
    width: 1000px;
    height: 30px;
    line-height: 30px;
    float: none;
}

.id {
    float: left;
    width: 50px;
    text-align: center;
}

.Title {
    width: auto;
    float: left;
}

.assignee {
    float: right;
    width: 300px;
}

.priority {
    float: right;
    width: 120px;
}

.status {
    float: right;
    width: 170px;
}

.update {
    float: right;
    width: 170px;
}

.view {
    float: right;
    width: 40px;
}

#display {
}

#undisplay {
    display: none;
}

@media only screen and (max-width: 800px) {
    .search {
        width: 600px;
        float: none;
    }

    .main {
        width: auto;
    }

    .table-issue {
        width: auto;
    }

    .table-title {
        width: auto;
    }

    .form {
        width: auto;
    }

    .form-select {
        float: none;
        margin-left: 10px;
    }

    .table-issue {
        height: 200px;
        padding: 10px;
        border: 1px solid black;
        margin: 10px;
    }

    .title {
        float: none;
    }

    .id {
        float: none;
    }

    #display {
        display: none;
    }

    #undisplay {
        display: inline;
        float: left;
        padding-right: 10px;
        width: auto;
    }

    .Title {
        float: none;
        padding-left: 10px;
    }

    .assignee {
        float: none;
    }

    .priority {
        float: none;
    }

    .status {
        float: none;
    }

    .update {
        float: none;
    }
}

@media screen and (max-width: 500px) {
    .search {
        width: auto;
    }
    
    .form {
        height: 110px;
    }
    
    .form-status {
        float: none;
    }

    .form-priority {
        float: none;
        margin-left: 0px;
    }

    .option {
        margin-top: 0px;
    }
}