.head-size{
  height: 100px;
}

.web-name{
  padding-top: 15px;
  font-size: 60px;
  text-decoration: none;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

.web-title{
  font-size: 30px;
  margin-left: 250px;
}

.item {
  margin-top: 30px;
}

.btn {
  width: 100px;
  height: 30px;
  padding: 5px 10px;
  margin-left: 10px;
  border: 1px solid black;
  border-radius: 10px;
}
@media only screen and (max-width: 768px){
  .head-size{
    height: 200px;
  }
  .web-name{
    position: absolute;
    z-index: 0;
  }
  .web-title{
    position: absolute;
    top: 100px;
    left: -200px;
    width: 300px;
    line-height: 1.2;
  }
  .item {
    background-color: white;
    position: absolute;
    margin: 0;
    z-index: 1;
    width: 150px;
    right: 20px;
    text-align: center;
  }
  .btn {
    border: none;
    border-radius: 0;
    
  }
}
