
/* menu tab */
.menu {
    margin-top: 2px;
    position: relative;
    width: auto;
    height: 50px;
    background-color: royalblue;
}

body {
    background-color: antiquewhite;
}

.tab {
    width: min-content;
    height: 46px;
    padding: 0px 15px;
    font-size: 15px;
    text-align: bottom;
    vertical-align: middle;
    float: left;
    margin-top: 2px;
    line-height: 46px;
    color: white;
    cursor: pointer;
}

.btn-login {
    width: max-content;
    height: 40px;
    border-radius: 20px;
    background-color: #8c8cff;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
    padding: 0px 30px;
    margin-top: 5px;
    margin-right: 20px;
    color: white;
    cursor: pointer;
    user-select: none;
    float: right;
}

.btn-login-phone {
    display: none;
}

.btn-login:hover {
    background-color: #1f1fa3;
    color: white;
}
.item {
    height: 46px;
    width: 46px;
    padding: 2px;
    background: url(./menu.png);
    text-align: center;
    display: none;
}

.tab:hover {
    background-color: #3354cc;
}

@media screen and (max-width: 800px) {
    .container {
        margin: 0;
        padding: 0 3px;
    }

    .tab-color {
        height: 50px;
        background-color: royalblue;
        width: auto;
    }

    body {
        background-color: white;
    }

    .tab {
       display: none;
       border-top: 2px solid #4c4c4c;
    }
    
    .btn-login {
        display: none;
    }

    .btn-login-phone {
        width: max-content;
        height: 40px;
        border-radius: 20px;
        background-color: #8c8cff;
        text-align: center;
        line-height: 40px;
        padding: 0px 30px;
        color: white;
        cursor: pointer;
        position: absolute;
        display: block;
        right: 5px;
        top: 5px;
        z-index: 2;
    }
    .item {
        display: block;
    }

    .menu {
        height: auto;
        z-index: 1;
        background-color:royalblue;
        position: absolute;
        top: 0px;
    }
    
   
}

@media screen and (max-width: 800px) {
    .responsive {

    }
    .responsive .btn-login {
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .responsive .tab {
        float: none;
        width: auto;
        margin: 1px 0px;
        display: block;
    }
} /* end menu tab */

/* start home body */
.home-body {
    border-top: 2px solid #4c4c4c;
    float: none;
    background-color: white;
}
/* start create account */
.start-account {
    width: auto;
    height: 500px;
    background-image: linear-gradient(to left, rgb(29, 77, 236), #62cdf7)
}

.start-account-left {
    width: 60%;
    height: 400px;
    margin-top: 50px;
    float: left;
}

.image-bug {
    width: 480px;
    height: 480px;
    background: url(./bug.png);
    animation-name: start;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.monitor {
    width: 400px;
    height: 400px;
    margin-left: 150px;
    padding-left: 17px;
    padding-right: 17px;
    background: url(./monitor.png);
}

.text-monitor {
    width: 366px;
    height: 207px;
    text-align: center;
    line-height: 207px;
    margin-top: 64px;
    position: absolute;
    background: url(./image-screen1.jpeg);
    animation-name: start;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.start-account-right {
    width: 40%;
    height: 400px;
    margin-top: 50px;
    float: right;
}

.btn-start-account {
    height: 50px;
    width: 300px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: #f72c2c;
    border-radius: 16px;
    cursor: pointer;
    box-shadow: 0px 5px #686d7e;
    user-select: none;
}

.text-account-right {
    width: auto;
    padding-top: 150px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    height: 50px;
    color: white;
    font-size: 25px;
}

.btn-start-account:active {
    margin-top: 155px;
    box-shadow: none;
}

@media screen and (max-width: 800px) {
    .start-account {
        height: 510px;
        background-image: linear-gradient(to top, rgb(29, 77, 236), #62cdf7)
    }

    .btn-start-account {
        margin: 0;
        margin-top: 50px;
        margin-bottom: 5px;
        margin-left: auto;
        margin-right: auto;
    }

    .btn-start-account:active {
        margin: 0;
        margin-top: 55px;
        margin-left: auto;
        margin-right: auto;
    }

    .start-account-left {
        width: auto;
        margin: 0;
        height: 300px;
        float: none;
    }

    .start-account-right {
        width: auto;
        height: 200px;
        float: none;
    }

    .text-account-right {
        width: auto;
        padding-top: 40px;
        padding-left: 50px;
        padding-right: 50px;
        height: 50px;
        font-size: 20px;
        font-weight: bold;
    }

    .monitor {
        margin: 0;
        margin-left: auto;
        margin-right: auto;
    }
}

@keyframes start {
    0% { background: url(./image-screen1.jpeg)}
    33% { background: url(./image-screen2.png)}
    66% { background: url(./image-screen3.jpeg)}
}
/* end start account */

/* start center body */
.body-center {
    width: auto;
    border-top: 2px solid #4c4c4c;
    height: 300px;
    background-color: white;
}

.body-center-title {
    width: auto;
    height: max-content;
    text-align: center;
    padding: 10px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
}

/* end center body */

/*start bottom body*/
.body-bottom {
    width: auto;
    height: 200px;
    background: #4c4c4c;
}
